html {
    overflow-y: scroll;
}

body {
    background-image: url("../imgs/Background.jpg");
    background-size: 1500px 1000px;
}

main {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin-top: 60px;
    margin-bottom: 120px;
}

#me {
    height: 200px;
    width: 200px;
}

.project {
    height: 300px;
    width: 300px;
}

.footer-copyright {
    color: white;
}

@media only screen and (max-width: 768px) {
    .tricky {
        margin-right: 1px;
    }
}