/* This is so that the scroll bar shows regardless of the height of the page */
/* without this, pages without a scroll bar are noticeably wider than those with one */
html {
    overflow-y: scroll;
}

/* Each page will have a different background image*/
#index-body {
    background-image: url("../imgs/Index-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#contact-body {
    background-image: url("../imgs/Contact-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#portfolio-body {
    background-image: url("../imgs/Portfolio-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* I don't want the background image to show behind my main content so I set the mains' background colors to white */
main {
    background-color: white;
}

/* Want some space between the main content and the navbar and footer.*/
/* I double margin-bottom so that the sticky footer doesn't cover any content */
.container {
    margin-top: 60px;
    margin-bottom: 120px;
}

/* Sizing the image of me on index.html */
#me {
    height: 200px;
    width: 200px;
}

/* This is the orange bar above the footer in the about me pages */
#index-footer {
    background-color: #daa520;
}